@import "tailwindcss";
@plugin "tailwindcss-debug-screens" {
  classname: "debug-screens";
  position: "bottom, left";
  prefix: "screen: ";
}
@theme {
  --breakpoint-xxs: 20rem; /* 320px */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-3xl: 112rem; /* 1792px */
  --breakpoint-4xl: 128rem; /* 2048px */
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSansArabic";
  src: url("/fonts/IBMPlexSansArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
